body {
background-color: rgb(10, 10, 10);
}

nav {
background-color: blueviolet;
margin-bottom: 2em;
}

hr {
  color: white;
}

nav ul {
  font-family: arial;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 290px;
}

nav ul li {
display: inline-block;
width: 16.3%;

}

nav ul li a {
color: rgb(231, 240, 240);
text-decoration: none;
text-align: center;
display: block;
padding: 0.2em 0.4em;

}

nav ul li a:hover {
  background-color: rgb(12, 12, 12);
}

    .logo  {
height: 100px;
border-top-left-radius: 65% 65%;
  border-top-right-radius: 65% 65%;
  border-bottom-right-radius: 65% 65%;
  border-bottom-left-radius: 65% 65%;
  float: left ; 
}

h1 {
  color: yellow;
letter-spacing: 7px;
text-align: center;
font-family: impact;
text-shadow: 0px 0px 2px rgb(245, 243, 245);
}

section {
  display: flex;
 gap: 5px;
  width: 400px;
  height: 430px;
}

section img {
width: 115px;
flex-grow: 7;
object-fit:cover ;
opacity: .8;
transition: .5s ease;
}

section img:hover {
cursor: grab;
width: 260px;
opacity: 9;
filter: contrast(120%);
}


.remeras {
height: 360px;
margin: 5px;
margin-bottom: 1px;
border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;
border-top-right-radius: 40px;
border-top: 40px;
}

.jean {
height: 360px;
margin:5px;
margin-bottom: 1px;
border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;
border-top-right-radius: 40px;
border-top: 40px;
}

.buzos {
  height: 360px;
  margin: 5px;
  margin-bottom: 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 10px;
}

.camisas{
  height: 360px;
  margin: 5px;
  margin-bottom: 1px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-top: 40px;
}

.hiley{
  height: 360px;
  margin: 5px;
  margin-bottom: 1px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-top: 40px;
}

.camperas {
  height: 360px;
  margin: 5px;
  margin-bottom: 1px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-top: 40px;
}

.VestidosPolleras {
  height: 360px;
  margin: 5px;
  margin-bottom: 1px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-top: 40px;
}

.gafitas {
  height: 360px;
  margin: 5px;
  margin-bottom: 1px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-top: 40px;
  }

.accesorios {
  height: 360px;
  margin: 5px;
  margin-bottom: 1px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-top: 40px;
  }

  .Varon {
    height: 360px;
    margin: 5px;
    margin-bottom: 1px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-top: 40px;
    }



  .final {
font-family: 'Courier New';
color: white;
text-align: center;
  } 

button {
  width: 135px;
  height: 360px;
  margin: 5px;
  margin-bottom: 1px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-top: 40px;
}
