body {
background-color: rgb(12, 11, 11);
}

.redes{ 
margin: 10px;
font-family: Impact;
font-size: 20px;
color: rgb(161, 81, 185);
}

.logo  {
height: 112px;
border-top-left-radius: 65% 65%;
  border-top-right-radius: 65% 65%;
  border-bottom-right-radius: 65% 65%;
  border-bottom-left-radius: 65% 65%;
  float: left ; 
}

h1 {
  color: yellow;
letter-spacing: 7px;
text-align: center;
font-family: impact;
text-shadow: 0px 0px 1px rgb(245, 243, 245);
}

.remeras {
height: 260px;
margin:20px;
margin-bottom: 1px;
border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;
border-top-right-radius: 40px;
border-top: 40px;
}

.jean {
height: 260px;
margin: 20px;
margin-bottom: 1px;
border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;
border-top-right-radius: 40px;
border-top: 40px;
}

.buzos {
  height: 260px;
  margin: 20px;
  margin-bottom: 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 10px;
}

.camisas{
  height: 260px;
  margin: 20px;
  margin-bottom: 1px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-top: 40px;
}

.camperas {
  height: 260px;
  margin: 20px;
  margin-bottom: 1px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-top: 40px;
}

.VestidosPolleras {
  height: 260px;
  margin: 20px;
  margin-bottom: 1px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-top: 40px;


}

.reme{
  font-family: impact;
  color: rgb(255, 6, 243);
  letter-spacing: 1px;



  
}

.pant {
  font-family: impact;
  color: fuchsia;
  letter-spacing: 1px;
}

.buzito {
  font-family: impact;
  color: fuchsia;
  letter-spacing: 1px;

}

.camisama {
  font-family: impact;
  color: fuchsia;
  letter-spacing: 1px;
  
  

}

.camperitas {
  font-family: impact;
  color: fuchsia;
  letter-spacing: 1px;
  text-align: center;
}

.VestPo {
  font-family: impact;
  color: fuchsia;
  letter-spacing: 1px;
  padding-inline-start: 1px;


}


ul {
  display: inline-flex;
  padding-top:0px;
  margin-top: 0px;
font-size: 25px;
gap: 39px;
padding-left: 0px;
text-align: center;
letter-spacing: 15px;
}

.botoncito {
letter-spacing: 0px;

}